*{
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: rgb(43, 19, 1);
    border-style: solid;
    
}
body{
    background-color: rgb(143, 143, 44);
}


#one{
    float:float;
    width: 50%;
}   

img{
    display: inline-block;
    width: 40%;
    height: 200px;
    
}
ul{
    width: 40%;
    background-color: rgb(243, 197, 197);
  text-align: center;

   
}

li{
    font-size: 20px;
    font-weight:inherit;
    list-style: none;
   
}
button{
    background-color: rgb(51, 31, 1);
    color: lightgrey;
    height: 50px;
    width :100px;
    align-items: center;
    float: right;
}
div {
    text-align: center;
    font-family: 'Pattaya', sans-serif;
    width: 200px;
    height: 50px;
    background-color: red;
    position: relative;
    animation: myfirst 5s linear 2s infinite alternate;
  }
  @keyframes myfirst {
    0%   {background-color:red; left:1000px; top:0px;}
    25%  {background-color:yellow; left:1000px; top:0px;}
    50%  {background-color:blue; left:1000px; top:200px;}
    75%  {background-color:green; left:1000px; top:200px;}
    100% {background-color:red; left:1000px; top:0px;}
  }  